<header>

  <nav class="deep-purple lighten-2" role="navigation">

    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo left-align">
        <img src="https://github.com/CJZamora83/rnr/blob/contact/public/images/RNR2.png" alt="Ar En Argh!"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="contact.ejs">Contact</a></li>
        <li >
          <% if (user) { %>
                    <li class="col hide-on-small-only m4 l4">Welcome, <%= user.name %> </li>
                    <li><a href="/logout" class="waves-effect waves-light btn col s4 m4 l4 right-align">Logout</a></li>
          <% } %>
        </li>
      </ul>

    </div>
  </nav>

</header>






