<meta charset="utf-8">

<title><%= title %></title>
<meta name="description" content="A template app for building Express/Mongoose.">

<!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
