<header>

<!-- <div class="container">
  <div class="navbar-fixed"> -->
    <nav>
      <div class="nav-wrapper">
        <span class="brand-logo left col s12 m4 l4">RnR</span>
        <ul id="nav-mobile" class="right">
          <% if (user) { %>
            <li class="col hide-on-small-only m4 l4">Welcome <%= user.name %> </li>
            <li><a href="/logout" class="waves-effect waves-light btn col s4 m4 l4">Logout</a></li>
          <% } else { %>
            <li><a href ="/auth/facebook" class="waves-effect waves-light btn s4 m4 l4">Login with Facebook!</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

</header>






