<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

<main>
  <div class="three-container">
    <ul>
    <li><img src=""></li>
    <li><span>Jacob A.</span></li>
    </ul>
  </div>

  <div class="three-container">
    <ul>
    <li><img src=""></li>
    <li><span>Adrian D.</span></li>
    </ul>
  </div>

  <div class="three-container">
    <ul>
    <li><img src=""></li>
    <li><span>Christian Z.</span></li>
    </ul>
  </div>

</main>

</body>
</html>
