<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

<main>
  <div class="three-container">
    <ul>
    <li><img src="https://github.com/CJZamora83/rnr/blob/contact/public/images/juliet_alpha.png" class="img-circle"></li>
    <li><img src=""></li>
    <li><span>Jacob A.</span></li>
    </ul>
  </div>
  <div class="three-container">
    <ul>
    <li><img src="https://github.com/CJZamora83/rnr/blob/contact/public/images/alpha_delta.png" class="img-circle"></li>
    <li><img src=""></li>
    <li><span>Adrian D.</span></li>
    </ul>
  </div>
  <div class="three-container">
    <ul>
    <li><img src="https://github.com/CJZamora83/rnr/blob/contact/public/images/dumballs.jpg" class="img-circle"></li>
    <li><img src=""></li>
    <li><span>Christian Z.</span></li>
    </ul>
  </div>

</main>

</body>
</html>
