<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
   <div id="insta-pics">
     <!-- insert photos here -->
   </div>
  </main>

  <%- include('../partials/scripts') %>
  <% if (user) { %>
    <script>render();</script>
  <% } %>
</body>
</html>
