<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>
    <%- include('../partials/maps') %>

  <main>
   <div id="insta-pics">
     <!-- insert photos here -->
   </div>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
