<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <% if (user) { %>
        <%= user.name %>

    <% } else { %>


    <% } %>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
